.App {
  color: white;
  width: 500px;
  margin: auto;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
}
.Clock{
  border: solid 1px white;
  text-align: center;
  background-color: #282c34;;
}
.ClockBtn{
  background-color: gray;
  text-align: center;
}
button{
  border-radius: 50px;
}
.Jour{
  font-size: 48px;
}
.Heure{
  font-size: 52px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
